@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 35px;
  color: #4A4A4A;
  text-align: center;
  letter-spacing: 0.7px;
  margin-bottom: 40px; }
  @media (max-width: 1330px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 24px;
  font-weight: 500;
  color: #4A4A4A;
  margin-bottom: 40px; }
  @media (max-width: 1330px) {
    h3 {
      font-size: 20px; } }

h6 {
  font-size: .8em;
  font-weight: 500;
  color: #4A4A4A;
  transition: color ease-in-out 200ms; }
  h6:hover {
    color: #7d7d7d;
    cursor: pointer; }
  @media screen and (max-width: 1330px) {
    h6 {
      font-size: 0.7em; } }

.link {
  margin-top: 15px;
  font-size: .8em;
  color: #4990E2; }
  .link:hover {
    cursor: pointer;
    color: #1f69c0; }

input {
  font-size: 1em; }
  @media (max-width: 1330px) {
    input {
      font-size: .8em; } }

.gradientText {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-radial-gradient(77% 9%, #5A5FCE 12%, #D82667 54%, #F46B27 76%, #FFD16A 100%); }

.signUpButton, .grid .photodiv img:hover {
  box-shadow: 1px 2px 4px rgba(74, 74, 74, 0.5); }

.signUpButton:hover, .signUpButton:focus, .signUpButton:active {
  box-shadow: 0 6px 10px 0 rgba(74, 74, 74, 0.14), 0 1px 18px 0 rgba(74, 74, 74, 0.12), 0 3px 5px -1px rgba(74, 74, 74, 0.3); }

.navbar {
  height: 50px;
  width: 100%;
  background: #4A4A4A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px; }
  @media (max-width: 850px) {
    .navbar {
      display: none; } }

.download-app {
  display: flex;
  width: 360px;
  justify-content: space-between; }
  .download-app:hover {
    cursor: pointer; }

body {
  background: #F9F9F9; }

.main {
  padding: 132px;
  display: flex;
  justify-content: space-between;
  max-width: 1575px;
  margin: auto; }
  @media (max-width: 1330px) {
    .main {
      padding: 100px 30px; } }
  @media (max-width: 850px) {
    .main {
      flex-direction: column;
      padding: 5px; } }
  @media (max-width: 450px) {
    .main {
      padding: 0; } }

.tabletHeader {
  display: none;
  margin: auto;
  position: relative;
  width: 98vw;
  margin-bottom: 70px; }
  .tabletHeader .logoText {
    position: absolute;
    width: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .tabletHeader img {
    width: 100%; }
  @media (max-width: 850px) {
    .tabletHeader {
      display: block; } }
  @media (max-width: 450px) {
    .tabletHeader {
      width: 100vw;
      margin-bottom: 40px; } }

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #9B9B9B; }
  .left #signuptext {
    width: 80%; }
  .left .grid {
    display: flex;
    width: 396px;
    height: 396px;
    flex-wrap: wrap;
    padding-bottom: 10px; }
    @media (max-width: 1330px) {
      .left .grid {
        width: 30vw;
        height: 30vw; } }
  @media screen and (max-width: 850px) {
    .left {
      display: none; } }

.right {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .right .signup-login {
    margin-bottom: 30px; }
  .right .inactive {
    color: #9B9B9B;
    transition: color ease-in-out 200ms; }
    .right .inactive:hover {
      cursor: pointer;
      color: #4A4A4A; }
  .right .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  @media screen and (max-width: 850px) {
    .right {
      width: 100%; } }

.signup {
  display: block; }

.login {
  display: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0 40px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 850px) {
    .footer {
      display: none; } }
  .footer .footer-left {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 900px; }
    @media screen and (max-width: 1330px) {
      .footer .footer-left {
        width: 70%; } }
  .footer .footer-right h6 {
    color: #9B9B9B; }

.signUpButton {
  margin: 20px 0;
  background: #E23F51;
  padding: 10px 25px;
  color: #F9F9F9;
  font-size: 0.9em;
  border: none;
  letter-spacing: .8px;
  border-radius: 4px; }
  .signUpButton:hover, .signUpButton:focus, .signUpButton:active {
    border: none;
    outline: none;
    background: #df293d;
    cursor: pointer; }
  @media screen and (max-width: 450px) {
    .signUpButton {
      margin-top: 10px; } }

input {
  width: 396px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #FCAF54;
  background: none;
  margin-bottom: 30px;
  padding-bottom: 0; }
  input:hover, input:focus, input:active {
    box-shadow: none;
    outline: none; }
  @media (max-width: 1330px) {
    input {
      width: 30vw;
      height: 30px; } }
  @media (max-width: 850px) {
    input {
      width: 50vw; } }
  @media (max-width: 450px) {
    input {
      width: 70vw; } }

.grid .photodiv {
  width: 32%;
  height: 32%;
  margin: .5%; }
  .grid .photodiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: box-shadow ease-in-out 200ms;
    box-shadow: none; }
    .grid .photodiv img:hover {
      cursor: pointer; }

/*# sourceMappingURL=index.css.map */
